<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Workoflow Integration Platform{% endblock %}</title>
    <link rel="icon" href="https://www.valantic.com/wp-content/uploads/favicon.png.webp" sizes="32x32" />
    <link rel="icon" href="https://www.valantic.com/wp-content/uploads/favicon.png.webp" sizes="192x192" />
    <link rel="apple-touch-icon" href="https://www.valantic.com/wp-content/uploads/favicon.png.webp" />
    <meta name="msapplication-TileImage" content="https://www.valantic.com/wp-content/uploads/favicon.png" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="min-h-screen flex flex-col">
    {% include '_partials/header.html.twig' %}

    {# Flash Messages Container - Global #}
    <div class="flash-messages-container">
        {% include '_partials/flash_messages.html.twig' %}
    </div>

    {% block body %}{% endblock %}

    {% include 'partials/footer.html.twig' %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
